[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "denovolyzeR"]
	path = denovolyzeR
	url = https://github.com/jamesware/denovolyzer
